
body {
	background-color: #FDFDF9;
}

#tableDetailsID {
	text-align: center;
	padding-left: 140px;
	font-family: arial;
}


#ingredientsForm {
	text-align: left;
	padding: 30px;
	width: 650px;
	height: 550px;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: Century Gothic;
}

